html {
  font-family: 'Hevetica', 'Futura', 'sans-serif';
}


img {
  border: 3px solid #000000;

  border-radius: 10px;
}


section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}